@use '@/scss/abstracts/mixins/structure/flex' as *;
@use '@/scss/abstracts/mixins/structure/size' as *;
@use '@/scss/abstracts/mixins/effects/backdrop-filter' as *;
@use '@/scss/abstracts/mixins/effects/transition' as *;
@use '@/scss/abstracts/mixins/fonts/weights' as *;
@use '@/scss/abstracts/theme/colors/solid/index' as colors;

.reviews-modal {
  display: none;

  &__body {
    @include flex-col;

    position: relative;
    gap: 2.5em;
    width: 650px;
    height: auto;
    max-height: calc(100% - 100px);
    background: colors.$primary;
    border-radius: 1.5rem;
    padding: 1.5em 1.5em 2.5em;
    text-align: center;

    &-close {
      @include flex-start-x;

      position: relative;
      z-index: 1;

      img {
        @include size(20px, auto);

        position: fixed;
        cursor: pointer;
      }
    }

    &-title {
      @include weights(700);

      font-size: 24px;
    }

    &-form {
      @include flex-col-between-center;
      @include size(100%, auto);
      @include backdrop-filter(none);

      position: relative;
      gap: 3.5em;
      background: transparent;

      &-stars {
        @include flex;

        gap: 2.5em;

        img {
          @include size(32px, auto);

          cursor: pointer;

          &.hovered,
          &.active {
            content: url('/public/img/icons/elements/star/star.png');
          }

          &.hovered:not(.active) {
            opacity: 0.5;
            filter: brightness(0) saturate(100%) invert(78%) sepia(96%) saturate(347%) hue-rotate(352deg)
              brightness(90%) contrast(85%);
          }

          &.active {
            opacity: 1;
          }
        }
      }

      &-fields {
        @include flex-col;

        gap: 3.5em;
        width: 100%;
        padding: 0 5em;
      }

      &-group {
        @include flex-col;

        gap: 0.25em;

        &-title {
          @include weights(700);

          font-size: 20px;
          margin-bottom: 1em;
        }

        &-fields {
          @include flex-col;

          gap: 0.75em;
        }

        &-input:first-child {
          margin-top: 0;
        }

        &-error,
        &-chars {
          margin-top: 0.5em;
        }
      }

      &-switch p {
        @include transition('linear');
        @include weights;

        font-size: 18px;
        color: colors.$secondary;
        cursor: pointer;

        &:hover {
          color: colors.$secondary-hover;
          text-decoration: underline;
        }
      }

      &-action {
        @include flex-center-x;

        position: relative;

        &-btn {
          @include transition('linear');
          @include weights(700);

          font-size: 20px;
          color: colors.$primary;
          background: colors.$secondary;
          border-radius: 1.5em;
          padding: 0.5em 1em;

          &:hover {
            background: colors.$secondary-hover;
          }
        }
      }
    }
  }

  &__content {
    padding: 1em 0;
    overflow-y: auto;
  }
}

#review-modal-fields,
#reviews-modal-just-rate,
#reviews-modal-write-review {
  display: none;
}

#review-modal-fields {
  &.visible {
    @include flex-col;
  }
}

#reviews-modal-just-rate,
#reviews-modal-write-review {
  &.visible {
    display: block;
  }
}
