@use '@/scss/abstracts/mixins/structure/resolution' as *;
@use '@/scss/abstracts/mixins/structure/size' as *;
@use '@/scss/abstracts/theme/colors/solid/index' as colors;

@include resolution(md, min) {
  .loading {
    &__body {
      gap: 1.25rem;

      &-spinner {
        @include size(56px, 56px);

        border-top: 5px solid colors.$secondary;
        border-right: 5px solid colors.$secondary;
        border-bottom: 5px solid colors.$border-secondary;
        border-left: 5px solid colors.$border-secondary;
      }

      &-text p {
        font-size: 24px;
      }
    }
  }
}

@include resolution(md, max) {
  .loading {
    &__body {
      gap: 0.75rem;

      &-spinner {
        @include size(36px, 36px);

        border-top: 4px solid colors.$secondary;
        border-right: 4px solid colors.$secondary;
        border-bottom: 4px solid colors.$border-secondary;
        border-left: 4px solid colors.$border-secondary;
      }

      &-text p {
        font-size: 18px;
      }
    }
  }
}
