@use '@/scss/abstracts/mixins/structure/flex' as *;
@use '@/scss/abstracts/mixins/structure/size' as *;
@use '@/scss/abstracts/mixins/effects/shadow' as *;
@use '@/scss/abstracts/mixins/effects/transition' as *;
@use '@/scss/abstracts/mixins/fonts/weights' as *;
@use '@/scss/abstracts/theme/colors/solid/index' as colors;

.admin-detail {
  position: relative;
  width: 100%;

  &__data {
    @include flex-col-center-y;
    @include shadow(full, 1);

    width: 900px;
    height: auto;
    min-height: calc(100vh - 300px);
    border-radius: 1.5em;
    padding: 2em;

    &-groups {
      position: relative;
      gap: 1em;
      width: 100%;
      font-size: 20px;

      &-title {
        margin-bottom: 1em;
      }
    }

    &-group-title {
      margin-bottom: 0.5em;
      text-align: center;
      text-decoration: underline;
    }

    &-subgroup,
    &-form-group {
      margin-bottom: 1em;
    }

    &-table {
      width: 100%;
      min-width: 600px;

      &-wrapper {
        width: 100%;
        overflow-x: auto;
      }
    }

    &-tbody img {
      @include size(auto, 48px);
    }

    &-select {
      @include weights(500);

      font-size: 18px;
      border-radius: 0.75em;
      width: 100%;
      padding: 0.5em;
      margin-bottom: 0.5em;
    }

    &-input,
    &-select,
    &-textarea {
      margin-top: 0.5em;
    }
  }

  &__form {
    @include flex-center-x;

    &-action {
      @include flex-center-x;

      margin-top: 1em;

      &-btn {
        @include transition('linear');
        @include weights(700);

        position: relative;
        width: 100%;
        background: colors.$success;
        border-radius: 1.5em;
        color: colors.$neutral;
        text-align: center;

        &:hover {
          background: colors.$success-hover;
        }
      }
    }
  }
}

#admin-order-products {
  width: 100%;
}
