@use '@/scss/abstracts/utilities/effects/backdrop-filter/get-value' as *;

@mixin backdrop-filter($value: 8) {
  $val: backdrop-get-value($value);

  @if $val != none {
    backdrop-filter: blur($val);
    -webkit-backdrop-filter: blur($val);
  } @else {
    backdrop-filter: none;
    -webkit-backdrop-filter: none;
  }
}
