@use '@/scss/abstracts/mixins/structure/resolution' as *;

@include resolution(xxl, min) {
  .home-page {
    padding: 3rem 3rem 8rem;
  }
}

@include resolution(md, min) {
  .home-page {
    &__banners {
      gap: 2.5rem;
    }

    &__discount-item img {
      border-radius: 1.5em;
    }

    &__swiper {
      gap: 2.5em;

      &-title {
        font-size: 28px;
      }
    }
  }
}

@include resolution(xs, min) {
  @include resolution(md, max) {
    .home-page {
      &__banners {
        gap: 2rem;
      }

      &__swiper-title {
        font-size: 20px;
      }
    }
  }
}

@include resolution(md, max) {
  .home-page {
    &__banners {
      gap: 2rem;
    }

    &__discount-item img {
      border-radius: 1em;
    }

    &__swiper {
      gap: 2em;
    }
  }
}

@include resolution(sm, min) {
  @include resolution(xxl, max) {
    .home-page {
      padding: 1.5rem 1.5rem 8rem;
    }
  }
}

@include resolution(sm, max) {
  .home-page {
    padding: 1rem 1rem 6rem;
  }
}

@include resolution(xs, max) {
  .home-page {
    &__banners {
      gap: 1.25rem;
    }

    &__swiper-title {
      font-size: 16px;
    }
  }
}
