@use '@/scss/abstracts/mixins/structure/resolution' as *;
@use '@/scss/abstracts/mixins/structure/size' as *;

@include resolution(xxl, min) {
  .home-page {
    padding: 3rem 3rem 8rem;
  }
}

@include resolution(md, min) {
  @include resolution(xl, max) {
    .home-page {
      &__category-card {
        flex: 0 0 calc((100% - 2 * 1rem) / 3);
      }
    }
  }
}

@include resolution(md, max) {
  .home-page {
    &__category-card {
      flex: 0 0 100%;
    }
  }
}

@include resolution(md, min) {
  .home-page {
    &__banners {
      gap: 2.5rem;
    }

    &__discount-item img {
      border-radius: 1.5em;
    }

    &__swiper {
      gap: 2.5em;

      &-title {
        font-size: 28px;
      }
    }

    &__categories-title {
      font-size: 28px;
    }
  }
}

@include resolution(md, max) {
  .home-page {
    &__banners {
      gap: 2rem;
    }

    &__discount-item img {
      border-radius: 1em;
    }

    &__swiper {
      gap: 2em;
    }
  }
}

@include resolution(sm, min) {
  @include resolution(xxl, max) {
    .home-page {
      padding: 1.5rem 1.5rem 8rem;
    }
  }
}

@include resolution(sm, max) {
  .home-page {
    padding: 1rem 1rem 6rem;
  }
}

@include resolution(xs, min) {
  @include resolution(md, max) {
    .home-page {
      &__banners {
        gap: 2rem;
      }

      &__swiper-title {
        font-size: 20px;
      }

      &__categories-title {
        font-size: 20px;
      }
    }
  }
}

@include resolution(xs, max) {
  .home-page {
    &__banners {
      gap: 1.25rem;
    }

    &__swiper-title {
      font-size: 16px;
    }

    &__categories-title {
      font-size: 16px;
    }
  }
}

@include resolution(xs, min) {
  .home-page {
    &__category-card {
      &-header {
        gap: 0.75rem;
        padding: 2rem 1.25rem 1.5rem;
      }

      &-icon {
        @include size(56px, 56px);

        img {
          @include size(40px, 40px);
        }
      }

      &-name {
        font-size: 15px;
      }

      &-types {
        padding: 1.125rem 1rem;
        gap: 0.4rem;
      }
    }

    &__category-type {
      font-size: 11.5px;
      padding: 0.275rem 0.75rem;
    }
  }
}
