@use '@/scss/abstracts/mixins/structure/flex' as *;
@use '@/scss/abstracts/mixins/structure/size' as *;
@use '@/scss/abstracts/mixins/effects/shadow' as *;
@use '@/scss/abstracts/mixins/effects/transition' as *;
@use '@/scss/abstracts/mixins/fonts/weights' as *;
@use '@/scss/abstracts/theme/colors/solid/index' as colors;

.order {
  @include size(100%, auto);

  position: relative;

  &__card {
    position: relative;

    &-data {
      position: relative;
      height: 100%;
      overflow: hidden;
    }

    &-title {
      @include weights(700);

      text-align: center;
      padding: 0.5em;
    }

    &-note {
      margin-top: 1em;

      &-body {
        @include flex-col;

        gap: 1.5em;
        border: 2px solid colors.$red-900;
        border-radius: 1.5em;
        padding: 1em;
      }

      &-title p {
        @include weights(700);

        text-align: center;
      }

      &-info {
        @include flex-col-center;

        gap: 0.5em;
      }

      &-text,
      &-list {
        p {
          text-align: center;
        }
      }

      &-text p {
        @include weights(700);

        text-decoration: underline;
      }

      &-list {
        @include flex-col;

        gap: 0.5em;
      }
    }

    &-form {
      @include size;

      position: relative;
      margin-top: 2em;

      &-data {
        @include flex-col;
      }

      &-item {
        @include flex-col;

        position: relative;
        gap: 1em;
      }

      &-title {
        @include weights(700);

        position: relative;
        text-align: center;
      }

      &-group {
        position: relative;
        width: 100%;
        margin-bottom: 1em;
      }

      &-label {
        @include weights(600);

        padding: 0 0.25em;
      }

      &-input,
      &-select {
        margin-top: 0.5em;
      }

      &-radio {
        &-group {
          @include flex-center-y;

          position: relative;
          width: 100%;
          margin-bottom: 1em;
        }

        &-input {
          position: relative;
        }

        &-label {
          @include weights(600);

          padding: 0 0.25em;
        }

        &-input,
        &-label {
          cursor: pointer;
        }
      }

      &-checkbox-wrapper {
        @include flex-center-y;

        position: relative;
        gap: 0.75em;
        padding: 0 0.25em;
        margin-bottom: 1em;

        label,
        input {
          cursor: pointer;
        }

        label {
          @include weights(700);

          padding: 0;
        }
      }

      &-price {
        margin-top: 2.5em;

        p {
          @include weights(800);

          text-align: center;
          padding: 1em 0;
        }
      }

      &-btn {
        @include transition('linear');
        @include weights(700);

        position: relative;
        background: colors.$secondary;
        color: colors.$primary;
        padding: 0.75em 1.5em;
        width: 100%;
        text-align: center;
        text-transform: uppercase;

        &:hover {
          background: colors.$secondary-hover;
        }
      }
    }
  }
}

#order-shipping-data {
  opacity: 0.5;
  pointer-events: none;
}
