@use '@/scss/abstracts/mixins/structure/flex' as *;
@use '@/scss/abstracts/mixins/structure/size' as *;
@use '@/scss/abstracts/mixins/effects/transition' as *;
@use '@/scss/abstracts/mixins/fonts/weights' as *;
@use '@/scss/abstracts/theme/colors/solid/index' as colors;

.orders {
  @include flex-center-x;

  position: relative;
  width: 100%;
  padding: 3rem 0;

  &__card {
    position: relative;
    width: 725px;

    &-title {
      position: relative;
      font-size: 28px;
      text-align: center;
      margin-bottom: 2em;
    }

    &-list {
      @include flex-col;
      @include size;

      position: relative;
      gap: 1em;
    }

    &-box {
      @include flex-between-center;
      @include transition;

      position: relative;
      gap: 1.5em;
      border-radius: 1.5em;
      padding: 1.5em 3.5em 1.5em 2em;

      &:hover {
        scale: 1.0125;
      }

      &-left {
        @include flex-col;

        gap: 0.5em;
      }

      &-right {
        @include flex-col;

        align-items: flex-end;
        gap: 0.5em;
      }

      &-payment {
        @include flex-col-center-y;

        position: absolute;
        gap: 0.25em;
        transform: translateY(-50%);
        right: 0.5em;
        top: 50%;

        &-type {
          font-size: 20px;
        }

        &-paid {
          font-size: 18px;
        }
      }
    }

    &-info {
      position: relative;
      height: auto;
    }

    &-status,
    &-code,
    &-date {
      @include weights(700);
    }

    &-status {
      font-size: 22px;
    }

    &-code {
      font-size: 18px;
    }

    &-date {
      font-size: 20px;
    }

    &-time {
      @include weights(500);

      font-size: 18px;
    }

    &-no-results {
      @include flex-center;
      @include size;

      position: relative;

      p {
        @include weights(700);

        position: relative;
        font-size: 32px;
        color: colors.$primary;
        text-align: center;
      }
    }

    &-detail {
      @include flex;

      gap: 1em;
    }

    &-data {
      @include flex-col;

      position: relative;
      gap: 2em;
      width: 100%;
      padding-top: 1em;

      &-button {
        @include flex-center;
        @include transition('linear');

        gap: 0.5em;
        background: colors.$success;
        border-radius: 1em;
        width: 150px;
        padding: 0.5em 1em;

        &:hover {
          background: colors.$success-hover;
        }

        img {
          @include size(24px, 24px);
        }

        span {
          @include weights(700);

          color: colors.$neutral;
          font-size: 20px;
        }
      }
    }

    &-item {
      @include flex-col;

      gap: 0.5em;
    }

    &-subtitle {
      @include weights(700);

      font-size: 20px;
      text-decoration: underline;
    }

    &-group {
      @include flex-col;

      gap: 0.75em;
      margin-top: 0.5em;
    }

    &-address {
      @include flex-col;

      gap: 0.25em;
    }

    #order-basic {
      font-size: 20px;
    }

    #order-billing,
    #order-shipping {
      font-size: 18px;
    }
  }
}

#order-products {
  @include size(650px, calc(100vh - 325px), (null, 'min'));
  
  position: relative;
  overflow-y: auto;
}
