# Ignore node modules
node_modules/

# Ignore Symfony var folder (cache, logs, sessions)
var/

# Ignore vendor dependencies
vendor/

# Ignore GitHub workflow and metadata
.github/

# Ignore Git metadata
.git/
.gitignore
