# Environment
.env
.env.local
.env.production

# Node / npm
node_modules/
npm-debug.log
.pnpm-store/

# Dependencies
vendor/

# Bin
bin/*

# Cache & Logs
var/
.cache/
*.cache

# Archives
*.tgz

# Frontend Build
dist/
build/
.build/

# Generated UML
.uml/

# Editor
.vscode/
.gitconfig

# AI Tools
.claude

# Infrastructure root
infrastructure/*
!infrastructure/.gitignore
!infrastructure/Makefile
!infrastructure/*/
