# Environment
.env
.env.local

# Config Secrets & JWT
config/secrets/*/*.private.php
config/secrets/*/*.public.php
config/jwt/*.pem

# Dependencies
vendor/

# Bin
bin/*
!bin/console
!bin/phpunit

# Node / npm
node_modules/
npm-debug.log

# Cache & Logs
var/
.cache/
*.cache

# Frontend Build
assets/vendor/
public/assets/
public/build/
public/bundles/
public/uploads/

# Generated UML
.uml/

# PHP Tools
phpunit.xml

# Editor
.vscode/
.gitconfig

# AI Tools
.claude
