@use '@/scss/abstracts/mixins/structure/resolution' as *;
@use '@/scss/abstracts/mixins/structure/size' as *;

@include resolution(md, min) {
  .cart {
    &__header {
      &-count {
        font-size: 22px;
      }

      &-close img {
        @include size(20px, 20px);
      }
    }

    &__content-wrapper {
      padding: 0 1.25em;
    }

    &__warning {
      &-header-close p {
        font-size: 20px;
        padding: 0.75em 1.5em;
      }

      &-actions {
        width: 400px;

        &-item {
          a {
            font-size: 20px;
          }
        }
      }
    }
  }
}

@include resolution(md, max) {
  .cart {
    &-count {
      font-size: 18px;
    }

    &-close img {
      @include size(18px, 18px);
    }

    &__header {
      &-count {
        font-size: 18px;
      }

      &-close img {
        @include size(16px, 16px);
      }
    }

    &__content {
      gap: 1em;
      padding: 0.25em 1em 1.5em;
      height: calc(100% - 105px);

      &-list {
        gap: 1em;
      }

      &-destroy {
        right: 0.75em;
        top: 0.75em;

        img {
          @include size(12.5px, 12.5px);
        }
      }

      &-image {
        padding: 2.25em 0 0.75em;

        img {
          max-height: 75px;
        }
      }

      &-name {
        padding: 0 0.75em;

        p {
          font-size: 18px;
        }
      }

      &-price {
        padding: 0.75em 0;

        &-current {
          font-size: 20px;
        }

        &-old {
          font-size: 12.5px;
        }
      }

      &-no-results p {
        font-size: 24px;
      }
    }

    &__warning {
      &-header-close p {
        font-size: 16px;
        padding: 0.75em 1.25em;
      }

      &-actions {
        width: 100%;

        &-item {
          a {
            font-size: 16px;
          }
        }
      }
    }
  }
}

#cart-sidebar {
  @include resolution(md, min) {
    width: 400px;

    .cart__summary {
      height: 100px;

      &-price,
      &-btn {
        width: 400px;
      }

      &-price {
        height: 45px;

        p {
          font-size: 24px;
        }
      }

      &-btn {
        font-size: 20px;
        padding: 0.75em 1.5em;
      }
    }
  }

  @include resolution(md, max) {
    width: 100%;

    .cart__summary {
      height: 75px;

      &-price,
      &-btn {
        width: 100%;
      }

      &-price {
        height: 40px;

        p {
          font-size: 20px;
        }
      }

      &-btn {
        font-size: 18px;
        padding: 0.5em 1.25em;
      }
    }
  }
}
