@use '@/scss/abstracts/mixins/effects/transition' as *;
@use '@/scss/abstracts/mixins/colors/rgba' as *;
@use '@/scss/abstracts/theme/colors/solid/index' as colors;
@use '@/scss/abstracts/theme/z-index/layers' as z;

@use '@/scss/presentation/components/cursor/mixins/cursor-pulse' as *;

.cursor {
  @include transition('linear', 500, ('transform', 'background-color', 'box-shadow'));
  @include rgba('secondary', 25);
  @include cursor-pulse;

  position: fixed;
  transform: translate(-50%, -50%);
  width: 20px;
  height: 20px;
  border-radius: 50%;
  pointer-events: none;
  z-index: z.$cursor;
  box-shadow: 0 0 16px 2px rgba($color: colors.$primary, $alpha: 25%);

  &__hovered {
    @include rgba('secondary', 40);

    scale: 1.2;
    box-shadow: 0 0 16px 2px rgba($color: colors.$primary, $alpha: 40%);
    animation: none;
  }
}

@media (hover: none) {
  .cursor { display: none; }
}
