@use '@/scss/abstracts/mixins/structure/resolution' as *;
@use '@/scss/abstracts/mixins/structure/size' as *;

@include resolution(md, min) {
  .order-status {
    height: calc(100vh - 150px);

    &__card {
      gap: 2.5em;

      &-image {
        @include size(125px, 125px, 'max');
      }

      &-text p {
        font-size: 28px;
      }

      &-btn {
        font-size: 20px;
        padding: 0.75em 1.5em;
      }
    }
  }
}

@include resolution(md, max) {
  .order-status {
    height: calc(100vh - 115px);

    &__card {
      gap: 2em;

      &-image {
        max-height: 75px;
      }

      &-text p {
        font-size: 22px;
      }

      &-btn {
        font-size: 18px;
        padding: 0.5em 1.25em;
      }
    }
  }
}
