@use '@/scss/abstracts/mixins/structure/flex' as *;
@use '@/scss/abstracts/mixins/structure/size' as *;
@use '@/scss/abstracts/mixins/effects/transition' as *;
@use '@/scss/abstracts/mixins/fonts/weights' as *;
@use '@/scss/abstracts/mixins/accessibility/user-select' as *;
@use '@/scss/abstracts/theme/colors/solid/index' as colors;

.product-item {
  @include flex-col-between-x;
  @include user-select;

  position: relative;
  flex: 0 0 auto;
  background: transparent;
  border: 1px solid colors.$border-primary;
  border-radius: 1.5em;
  overflow: hidden;

  &__destroy {
    @include transition('ease-out');

    background: colors.$secondary;
    margin-bottom: 0.5em;
    cursor: pointer;

    &:hover {
      background: colors.$secondary-hover;
    }

    p {
      @include weights(800);

      color: colors.$primary;
      text-align: center;
    }
  }

  &__box {
    @include flex-col-between-x;

    height: 100%;
    background: colors.$primary;

    &-image {
      @include flex-center;

      width: 100%;

      img {
        @include size;

        padding: 1em;
        object-fit: contain;
      }
    }

    &-name {
      margin-top: 1em;
      overflow: hidden;

      p {
        @include weights(600);

        color: colors.$neutral;
        text-align: center;
      }
    }

    &-rating {
      @include flex-center-x;
    }

    &-price {
      @include flex-col-center;

      margin: 0.25em 0;
      color: colors.$neutral;

      &-current {
        @include weights(700);
      }

      &-old {
        @include weights(600);

        text-decoration: line-through;
      }
    }

    &-btn {
      @include transition('linear');
      @include weights(700);

      background: colors.$success;
      color: colors.$neutral;
      padding: 0.75em 1.5em;
      width: 100%;

      &:hover {
        background: colors.$success-hover;
      }
    }
  }
}
