$light-blue-100: #90fffa;
$light-blue-200: #55fff7;
$light-blue-300: #0dfff4;
$light-blue-400: #03eee3;
$light-blue-500: #16e5db;
$light-blue-600: #12cbc2;
$light-blue-700: #1abbb3;
$light-blue-800: #0da8a1;
$light-blue-900: #058c86;
