@use '@/scss/abstracts/mixins/structure/resolution' as *;
@use '@/scss/abstracts/mixins/structure/size' as *;
@use '@/scss/abstracts/theme/colors/solid/index' as colors;

@include resolution(md, min) {
  #scroll-to-top {
    right: 1.25em;
    bottom: 1.25em;
    width: 48px;
    height: 48px;

    img {
      padding: 0.75em;
    }
  }
}

@include resolution(md, max) {
  #scroll-to-top {
    right: 1em;
    bottom: 1em;
    width: 36px;
    height: 36px;

    img {
      padding: 0.5em;
    }
  }
}
