@use '@/scss/abstracts/mixins/structure/flex' as *;
@use '@/scss/abstracts/mixins/structure/size' as *;
@use '@/scss/abstracts/mixins/structure/resolution' as *;

@include resolution(md, max) {
  .auth-page {
    padding: 0 1em;

    &__logo {
      @include flex-center-x;

      &-image {
        @include size(auto, 40px);
      }
    }

    &__card {
      position: relative;
      padding: 2em 1.25em;

      &-title {
        font-size: 20px;
      }

      &-info {
        font-size: 14px;
      }

      &-form {
        gap: 0.75em;

        &-label {
          font-size: 16px;
        }

        &-icon {
          right: 0.75em;
          top: 1em;
          width: 16px;
        }

        &-consent {
          @include flex-col-center-y;

          gap: 1.25em;
          margin-top: 0.5em;
        }

        &-action {
          margin-top: 1.75em;

          &-btn {
            font-size: 14px;
          }
        }

        &-switch {
          font-size: 15px;
        }
      }
    }

    &__footer {
      bottom: 0.75em;

      &-text {
        font-size: 12.5px;
      }
    }

    &__logout {
      top: 4.25em;

      &-btn {
        font-size: 15px;
        padding: 0.5em 1em;
      }
    }
  }
}

@include resolution(sm, min) {
  @include resolution(md, max) {
    .auth-page__card {
      width: 540px;

      &-form-consent p {
        font-size: 13px;
      }
    }
  }
}

@include resolution(sm, max) {
  .auth-page {
    &__card {
      width: 100%;

      &-title {
        font-size: 18px;
      }

      &-info {
        font-size: 12px;
      }

      &-form {
        &-label {
          font-size: 14px;
        }

        &-consent {
          p {
            font-size: 12px;
          }
        }

        &-switch {
          font-size: 13px;
        }
      }
    }

    .cf-turnstile {
      transform: scale(0.8);
      transform-origin: left center;
    }

    &__footer-text {
      font-size: 11px;
    }

    &__logout-btn {
      font-size: 13px;
    }
  }
}
