@use '@/scss/abstracts/mixins/structure/flex' as *;
@use '@/scss/abstracts/mixins/structure/size' as *;
@use '@/scss/abstracts/mixins/structure/resolution' as *;

@include resolution(md, min) {
  .auth-page {
    &__logo-image {
      @include size(auto, 52px);
    }

    &__card {
      width: 650px;
      padding: 2em 1.75em 3em;

      &-title {
        font-size: 28px;
      }

      &-info {
        font-size: 18px;
      }

      &-form {
        gap: 1em;

        &-label {
          font-size: 18px;
        }

        &-icon {
          right: 1em;
          top: 1.25em;
          width: 20px;
        }

        &-consent {
          @include flex-between-x;

          gap: 1.5em;

          p {
            font-size: 14px;
          }
        }

        &-action {
          margin-top: 2.25em;
        }

        &-action-btn {
          font-size: 18px;
        }

        &-switch {
          font-size: 16px;
        }
      }
    }

    &__footer {
      bottom: 1em;

      &-text {
        font-size: 16px;
      }
    }

    &__logout {
      top: 5.5em;

      &-btn {
        font-size: 20px;
        padding: 0.5em 1em;
      }
    }
  }
}

@include resolution(md, max) {
  .auth-page {
    padding: 0 1em;

    &__logo {
      @include flex-center-x;

      &-image {
        @include size(auto, 40px);
      }
    }

    &__card {
      position: relative;
      width: 100%;
      padding: 2em 1.25em;

      &-title {
        font-size: 20px;
      }

      &-info {
        font-size: 14px;
      }

      &-form {
        gap: 0.75em;

        &-label {
          font-size: 16px;
        }

        &-icon {
          right: 0.75em;
          top: 1em;
          width: 16px;
        }

        &-consent {
          @include flex-col-center-y;

          gap: 1.25em;
          margin-top: 0.5em;

          p {
            font-size: 14px;
          }
        }

        &-action {
          margin-top: 1.75em;

          &-btn {
            font-size: 14px;
          }
        }

        &-switch {
          font-size: 15px;
        }
      }
    }

    &__footer {
      bottom: 0.75em;

      &-text {
        font-size: 12.5px;
      }
    }

    &__logout {
      top: 4.25em;

      &-btn {
        font-size: 15px;
        padding: 0.5em 1em;
      }
    }
  }
}
