@use '@/scss/abstracts/mixins/structure/resolution' as *;

@include resolution(lg, max) {
  .search-panel__card {
    margin: 2em auto 0;
  }
}

@include resolution(md, min) {
  @include resolution(lg, max) {
    .search-panel {
      top: 170px;
      height: calc(100dvh - 170px);

      &__card {
        margin: 2em auto 0;
      }
    }
  }
}

@include resolution(xs, min) {
  @include resolution(lg, max) {
    .search-panel__card {
      width: 375px;
    }
  }
}

@include resolution(md, max) {
  .search-panel {
    top: 155px;
    height: calc(100dvh - 155px);
  }
}

@include resolution(xs, max) {
  .search-panel__card {
    width: 100%;
  }
}
