@use '@/scss/abstracts/mixins/structure/flex' as *;
@use '@/scss/abstracts/mixins/effects/transition' as *;
@use '@/scss/abstracts/mixins/fonts/weights' as *;
@use '@/scss/abstracts/theme/colors/solid/index' as colors;

.cookies__body {
  @include flex-col;

  gap: 2.5em;
  width: 650px;
  height: auto;
  background: colors.$primary;
  border-radius: 1.5rem;
  padding: 1.5em;
  text-align: center;

  &-title {
    @include weights(700);

    font-size: 24px;
  }

  &-text {
    @include flex-col;

    gap: 1em;

    p {
      font-size: 16px;
    }
  }

  &-action {
    @include flex-center-x;

    position: relative;

    &-btn {
      @include transition('linear');
      @include weights(700);

      background: colors.$secondary;
      color: colors.$primary;
      font-size: 16px;
      border-radius: 1.5em;
      padding: 0.5em 1em;

      &:hover {
        background: colors.$secondary-hover;
      }
    }
  }
}
