@use '@/scss/abstracts/mixins/structure/flex' as *;
@use '@/scss/abstracts/mixins/structure/resolution' as *;
@use '@/scss/abstracts/mixins/structure/size' as *;

@include resolution(lg, min) {
  .header {
    &__main {
      height: 75px;
      padding: 0 1.5rem 0 1rem;

      &-logo-image {
        height: 40px;
      }

      &-search {
        @include flex;
      }

      &-panel {
        height: 2.5em;
        gap: 2em;
      }

      &-login,
      &-user {
        &-icon {
          @include size(18px, 18px);
        }
      }

      &-login {
        padding: 0.25em 1em;

        &-text {
          font-size: 14px;
        }
      }

      &-user {
        &-dropdown {
          top: 75px;
        }

        &-item {
          a,
          p {
            font-size: 18px;
          }

          span {
            font-size: 20px;
          }
        }
      }

      &-cart {
        @include size(32px, 32px);

        &-count {
          @include size(25px, 25px);

          font-size: 11px;
        }
      }
    }

    &__mobile {
      display: none;
    }
  }
}

@include resolution(lg, min) {
  .navigation {
    @include flex;

    top: 75px;
  }
}

@include resolution(lg, max) {
  .navigation {
    display: none;
  }

  .header {
    &__main {
      &-search {
        display: none;
      }

      &-panel {
        gap: 1em;
      }

      &-login {
        padding: 0.25em 0.75em;
      }
    }

    &__mobile {
      @include flex;
    }
  }
}

@include resolution(md, min) {
  @include resolution(lg, max) {
    .header {
      &__main {
        height: 60px;
        padding: 0 1rem;

        &-logo-image {
          height: 36px;
        }

        &-panel {
          height: 2.25em;
        }

        &-login,
        &-user {
          &-icon {
            @include size(16px, 16px);
          }
        }

        &-login span {
          font-size: 14px;
        }

        &-user {
          &-dropdown {
            top: 60px;
          }
        }

        &-cart {
          @include size(30px, 30px);

          &-count {
            @include size(22px, 22px);

            font-size: 10.5px;
          }
        }
      }

      &__mobile {
        @include size(100%, 45px);

        &-icon {
          @include size(24px, 24px);
        }
      }
    }
  }
}

@include resolution(md, min) {
  .header__main-user {
    padding: 0 1em;
  }
}

@include resolution(md, max) {
  .header {
    &__main {
      height: 50px;
      padding: 0 0.75rem;

      &-logo-image {
        height: 32px;
      }

      &-login span {
        font-size: 12.5px;
      }

      &-panel {
        height: 2em;
      }

      &-login-icon,
      &-user-icon {
        @include size(14px, 14px);
      }

      &-user {
        padding: 0 0.75em;

        &-dropdown {
          top: 50px;
        }

        &-item {
          a,
          p {
            font-size: 12.5px;
          }

          span {
            font-size: 14px;
          }
        }
      }

      &-cart {
        @include size(24px, 24px);

        &-count {
          @include size(18.5px, 18.5px);

          font-size: 9px;
        }
      }
    }

    &__mobile {
      @include size(100%, 40px);

      &-icon {
        @include size(20px, 20px);
      }
    }
  }
}

@include resolution(sm, min) {
  .header {
    &__main {
      &-user {
        &-dropdown {
          width: 325px;
          border-bottom-left-radius: 1.5em;
        }
      }
    }
  }
}

@include resolution(sm, min) {
  @include resolution(lg, max) {
    .header {
      &__main {
        &-user {
          &-item {
            a,
            p {
              font-size: 15px;
            }

            span {
              font-size: 17px;
            }
          }
        }
      }
    }
  }
}

@include resolution(sm, max) {
  .header {
    &__main {
      &-user {
        &-dropdown {
          width: 100%;
        }

        &-item {
          a,
          p {
            font-size: 14px;
          }

          span {
            font-size: 16px;
          }
        }
      }
    }
  }
}
