@use '@/scss/abstracts/mixins/structure/flex' as *;
@use '@/scss/abstracts/mixins/structure/resolution' as *;
@use '@/scss/abstracts/mixins/structure/size' as *;
@use '@/scss/abstracts/theme/colors/solid/index' as colors;

@include resolution(md, min) {
  .navigation__mobile {
    top: 105px;

    &-wrapper {
      height: 32.5px;
    }

    &-item {
      &-image {
        height: 32px;
      }

      &-name {
        font-size: 20px;
      }
    }
  }
}

@include resolution(md, max) {
  .navigation__mobile {
    top: 93px;

    &-wrapper {
      height: 30px;
    }

    &-item {
      &-image {
        height: 26px;
      }

      &-name {
        font-size: 18px;
      }
    }
  }
}
