@use '@/scss/abstracts/mixins/structure/resolution' as *;

@include resolution(md, max) {
  .cookies {
    padding: 0 1rem;

    &__body {
      width: 100%;
      gap: 2.5em;
      padding: 1.5em 1em;

      &-title {
        font-size: 18px;
      }

      &-text {
        gap: 0.5em;

        p {
          font-size: 14px;
        }
      }

      &-action {
        &-btn {
          font-size: 12.5px;
        }
      }
    }
  }
}
