@use '@/scss/abstracts/mixins/accessibility/user-select' as *;
@use '@/scss/abstracts/theme/colors/solid/index' as colors;

.input,
.select,
.textarea {
  position: relative;
  width: 100%;
  padding: 0.25em;
  border: 1px solid colors.$border-primary;
  border-radius: 1.25em;
  background: transparent;
  outline: 0;

  &:disabled {
    @include user-select;

    cursor: not-allowed;

    &::after {
      @include user-select;
    }
  }

  &:focus {
    box-shadow: 0 0 8px 0 colors.$blue-700;
  }
}

.textarea {
  resize: vertical;
}
