@use '@/scss/abstracts/mixins/structure/resolution' as *;

@include resolution(lg, max) {
  .error-page__container {
    width: 100%;
    padding: 0 1rem;

    &-title {
      font-size: 36px;
    }

    &-body {
      font-size: 24px;
    }

    &-action {
      margin-top: 0.75em;
    }

    &-btn {
      font-size: 16px;
    }
  }
}
