@use '@/scss/abstracts/mixins/structure/flex' as *;
@use '@/scss/abstracts/mixins/accessibility/user-select' as *;
@use '@/scss/abstracts/mixins/effects/transition' as *;
@use '@/scss/abstracts/mixins/fonts/weights' as *;
@use '@/scss/abstracts/theme/colors/solid/index' as colors;

.admin-home {
  @include flex-center-x;

  height: 100vh;
  padding: 3rem;

  &__card {
    @include flex-col-center-y;

    height: 100%;

    &-title {
      font-size: 28px;
      margin-bottom: 2em;
    }
  }

  &__list {
    @include flex-col;

    gap: 1.5em;
    width: 400px;
    margin-top: 1.5em;

    &-item {
      @include transition;

      background: colors.$secondary;
      border-radius: 1.5em;
      padding: 0 0.5em;

      a {
        @include flex-center-x;
        @include user-select;
        @include weights(700);

        color: colors.$primary;
        font-size: 20px;
        padding: 0.75em 0;
      }

      &:hover {
        background: colors.$secondary-hover;
      }
    }
  }
}
