@use '@/scss/abstracts/theme/colors/solid/palette/base' as *;
@use '@/scss/abstracts/theme/colors/solid/palette/light' as *;
@use '@/scss/abstracts/theme/colors/solid/palette/dark' as *;
@use '@/scss/abstracts/theme/colors/solid/palette/blue' as *;
@use '@/scss/abstracts/theme/colors/solid/palette/green' as *;
@use '@/scss/abstracts/theme/colors/solid/palette/yellow' as *;
@use '@/scss/abstracts/theme/colors/solid/palette/red' as *;

$primary: $white;
$secondary: $blue-900;
$secondary-hover: $blue-800;
$neutral: $black;
$neutral-hover: $dark-500;
$surface: $light-100;

$border-primary: $light-400;
$border-secondary: $light-300;

$success: $green-900;
$success-hover: $green-800;

$warning: $yellow-500;
$warning-hover: $yellow-400;

$error: $red-900;
$error-hover: $red-800;
