@use '@/scss/abstracts/mixins/structure/flex' as *;
@use '@/scss/abstracts/mixins/effects/shadow' as *;
@use '@/scss/abstracts/mixins/effects/transition' as *;
@use '@/scss/abstracts/mixins/fonts/weights' as *;
@use '@/scss/abstracts/theme/colors/solid/index' as colors;
@use '@/scss/abstracts/theme/z-index/layers' as z;

.footer {
  @include flex;

  position: relative;
  width: 100%;
  background: colors.$primary;
  color: colors.$neutral;
  border-top: 1px solid colors.$border-primary;
  z-index: z.$footer;

  &__card {
    @include flex-col;

    width: 100%;

    &-top {
      @include flex-between-x;

      padding: 2em 3em 1em;

      &-group {
        @include flex-col;

        gap: 0.5em;
      }

      &-subgroup {
        @include flex-col;

        gap: 1em;
      }

      &-heading {
        @include weights(700);

        color: colors.$neutral;
        text-transform: uppercase;
        text-align: center;
      }
    }

    &-bottom {
      @include flex-col;

      align-items: center;
      gap: 1.75em;
      border-top: 1px solid colors.$border-primary;
      margin-top: 1em;
      padding: 1.5em;
    }

    &-demo {
      @include weights(600);

      color: colors.$red-900;
      text-align: center;
    }

    &-item {
      @include flex;
      @include weights(500);

      gap: 0.25em;
    }

    &-link {
      @include flex-center-y;
      @include transition();
      @include weights(500);

      gap: 0.75em;
      color: colors.$neutral;
    }
  }
}

#copyright-link {
  color: colors.$secondary;

  &:hover {
    color: colors.$secondary-hover;
  }
}
