@use '@/scss/abstracts/mixins/structure/flex' as *;
@use '@/scss/abstracts/mixins/structure/size' as *;
@use '@/scss/abstracts/mixins/colors/rgba' as *;
@use '@/scss/abstracts/mixins/effects/backdrop-filter' as *;
@use '@/scss/abstracts/mixins/effects/transition' as *;
@use '@/scss/abstracts/mixins/accessibility/user-select' as *;
@use '@/scss/abstracts/mixins/accessibility/visibility' as *;
@use '@/scss/abstracts/mixins/fonts/weights' as *;
@use '@/scss/abstracts/theme/colors/solid/index' as colors;
@use '@/scss/abstracts/theme/z-index/layers' as z;

.header {
  @include flex-col-center-y;
  @include size(100%, auto);
  @include transition('ease-in-out', 300);
  @include user-select;

  position: fixed;
  top: 0;
  z-index: z.$header;

  &--hidden {
    transform: translateY(-100%);
  }

  &__main {
    @include flex-between-center;
    @include transition('linear');

    position: relative;
    width: 100%;
    background: colors.$primary;
    z-index: 1;

    &--scrolled {
      @include rgba('primary', 85);
      @include backdrop-filter;
    }


    &-logo-image {
      position: relative;
      width: auto;
      cursor: pointer;
    }

    &-search {
      @include flex;
      @include size(400px, 40px);

      position: absolute;
      transform: translate(-50%, -50%);
      left: 50%;
      top: 50%;
      background: colors.$primary;
      border: 1px solid colors.$border-primary;
      border-radius: 0.75em;
      overflow: hidden;

      &:focus-within {
        box-shadow: 0 0 8px 0 colors.$blue-700;
      }

      &-icon,
      &-close {
        @include flex-center;
        @include size(auto, 100%);

        position: relative;
        padding: 0 0.75em;

        &-img {
          position: relative;
        }
      }

      &-icon-img {
        @include size(18px, 18px);
      }

      &-close {
        display: none;
        cursor: pointer;

        &-img {
          @include size(14px, 14px);
        }
      }

      &-input {
        width: 100%;
        padding: 0.25em;
        border: 0;
        background: transparent;
        outline: 0;

        &:focus {
          box-shadow: none;
        }
      }

      &-btn {
        @include transition('linear');
        @include weights(600);

        font-size: 16px;
        background: colors.$secondary;
        border: 0;
        color: colors.$primary;
        padding: 0 0.75em;

        &:hover {
          background: colors.$secondary-hover;
        }
      }
    }

    &-panel {
      @include flex-center-y;

      position: relative;
    }

    &-login {
      @include flex-center-y;
      @include size(auto, 100%);
      @include transition('linear');

      position: relative;
      gap: 0.25em;
      border-radius: 0.75em;
      background: colors.$secondary;
      overflow: hidden;
      cursor: pointer;

      &:hover {
        background: colors.$secondary-hover;
      }

      &-icon {
        position: relative;

        img {
          @include size;

          position: relative;
          filter: invert(100%);
        }
      }

      &-text {
        @include weights(700);

        color: colors.$primary;
        margin-left: 0.25em;
      }
    }

    &-user {
      @include flex-center;
      @include size(auto, 100%);
      @include transition;

      position: relative;
      border-radius: 0.75em;
      background: colors.$secondary;
      overflow: hidden;
      cursor: pointer;

      &:hover {
        background: colors.$secondary-hover;
      }

      &-icon {
        position: relative;

        img {
          @include size;

          position: relative;
          filter: invert(100%);
        }
      }

      &-dropdown {
        @include flex-col-between-center;
        @include transition('linear', 250, (opacity, visibility));
        @include visibility;

        position: fixed;
        right: 0;
        height: auto;
        background: colors.$neutral;
        border-left: 1px solid colors.$neutral;
        border-bottom: 1px solid colors.$neutral;
        overflow: hidden;
        cursor: default;
      }

      &-group {
        width: 100%;
        border-bottom: 1px solid colors.$border-primary;

        &:last-child {
          border-bottom: 0;
        }
      }

      &-item {
        @include flex-center;

        background: colors.$primary;

        &:hover {
          a,
          p {
            @include transition('linear', 300);
            @include rgba('neutral', 10);
          }
        }

        a,
        p,
        span {
          display: block;
          width: 100%;
          text-align: center;
        }

        a,
        p {
          @include weights(700);

          color: colors.$neutral;
          background: colors.$primary;
          padding: 0.75em 0.5em;
        }

        span {
          @include weights(700);

          color: colors.$neutral;
          background: colors.$secondary;
          padding: 0.5em;
        }

        p {
          cursor: pointer;
        }
      }
    }

    &-cart {
      position: relative;
      cursor: pointer;

      &-icon {
        @include size;

        position: relative;
      }

      &-count {
        @include flex-center;
        @include weights(700);

        position: absolute;
        right: -8px;
        top: -9px;
        background: colors.$red-900;
        color: colors.$primary;
        border: 1px solid colors.$red-900;
        border-radius: 50%;
        overflow: hidden;
        z-index: 1;
      }
    }
  }

  &__mobile {
    @include flex-center;

    position: relative;
    background: colors.$secondary;
    border-top: 2px solid colors.$secondary;
    border-bottom: 2px solid colors.$secondary;

    &-icon {
      position: relative;
      cursor: pointer;

      &-img {
        @include size;

        position: relative;
        filter: invert(100%);
      }
    }
  }
}

.logout-form {
  display: none;
}
