@use '@/scss/abstracts/mixins/structure/flex' as *;
@use '@/scss/abstracts/mixins/structure/size' as *;
@use '@/scss/abstracts/mixins/colors/rgba' as *;
@use '@/scss/abstracts/mixins/effects/backdrop-filter' as *;
@use '@/scss/abstracts/mixins/effects/transition' as *;
@use '@/scss/abstracts/mixins/accessibility/visibility' as *;
@use '@/scss/abstracts/mixins/fonts/weights' as *;
@use '@/scss/abstracts/theme/colors/solid/index' as colors;
@use '@/scss/abstracts/theme/z-index/layers' as z;

.navigation {
  @include size(100%, auto);
  @include transition('ease-in-out', 300);

  position: fixed;
  z-index: z.$navigation;

  &--header-hidden {
    transform: translateY(-100%);
    opacity: 0;
  }

  &__list {
    @include flex;
    @include size(100%, 75px);
    @include transition('linear');

    position: relative;
    background: colors.$secondary;
    border-top: 1px solid colors.$neutral;
    border-bottom: 1px solid colors.$neutral;

    &--scrolled {
      @include rgba('secondary', 85);
      @include backdrop-filter;
    }

    &-item {
      @include flex-center;
      @include size;
      @include transition('linear');

      position: relative;
      padding: 14px;
      border-right: 1px solid colors.$neutral;

      &:last-child {
        border-right: 0;
      }

      &-image {
        @include transition('linear');
        @include visibility(true, 1, true);

        position: relative;
        height: 100%;
        filter: invert(100%);
      }

      &-name {
        @include flex-center;
        @include size;
        @include transition('linear');
        @include visibility;
        @include weights(800);

        position: absolute;
        font-size: 24px;
        background: rgba(colors.$primary, 0.15);
        color: colors.$primary;
      }

      &.visible {
        .navigation__list-item-image {
          @include visibility;
        }

        .navigation__list-item-name {
          @include visibility(true, 1, true);
        }
      }
    }
  }

  &__menu {
    @include transition('ease-out', 250, (opacity, visibility));
    @include size(100%, auto);
    @include visibility;

    position: fixed;
    top: 148px;
    width: 100%;
    z-index: z.$navigation-overlay;

    &-submenu {
      @include flex;
      @include size(100%, auto);
      @include transition('ease-out', 500, (opacity, visibility));
      @include visibility;

      position: fixed;
      top: 148px;
      flex-wrap: nowrap;
      align-items: stretch;
      min-height: 40%;
      max-height: 70%;
      background: colors.$primary;
      z-index: 1;
    }

    &-item {
      @include flex-col;

      flex: 1;
      text-align: center;
    }

    &-title {
      @include flex-center;
      @include transition('linear');
      @include weights(700);

      height: auto;
      background: colors.$neutral;
      overflow: hidden;

      a,
      span {
        @include flex-center;
        @include size;
        @include weights(700);

        color: colors.$primary;
        font-size: 18px;
        padding: 0.5em 0;
        text-decoration: none;
      }

      &--empty {
        background: colors.$neutral;
        pointer-events: none;
      }
    }

    &-list {
      @include flex-col;

      flex: 1;
      width: 100%;
      box-sizing: border-box;

      &-item {
        @include flex-center-x;
        @include transition('ease', 750);

        width: 100%;

        a,
        span {
          @include transition('ease', 750);
          @include weights(700);

          font-size: 16px;
          color: colors.$neutral;
          text-align: center;
          padding: 0.75em 0;
          display: block;
          width: 100%;
        }
      }
    }

    &-background {
      @include size(100%, calc(100vh - 150px));
      @include rgba('neutral', 20);
      @include backdrop-filter;

      position: fixed;
      bottom: 0;
      width: 100%;
      pointer-events: none;
    }
  }

  &__mobile {
    @include size(100%, calc(100dvh - 90px));
    @include rgba('neutral', 20);
    @include backdrop-filter(4);
    @include transition('ease-in-out', 300, (opacity, visibility));
    @include visibility;

    position: fixed;
    overflow: hidden;
    z-index: z.$navigation-overlay;

    &.visible {
      .navigation__mobile-content {
        transform: translateY(0);
      }
    }

    &--header-hidden {
      height: 100dvh;
    }

    &-content {
      @include transition('ease-in-out', 300, transform);

      position: relative;
      width: 100%;
      background: colors.$primary;
      transform: translateY(-100%);
    }

    &-search {
      position: relative;
      top: 1em;
      width: calc(100% - 2em);
      border: 1px solid colors.$border-primary;
      border-radius: 0.75em;
      margin: 0 1em;
      overflow: hidden;

      &:focus-within {
        box-shadow: 0 0 8px 0 colors.$blue-700;
      }
    }

    &-wrapper {
      @include flex;

      position: relative;
      width: 100%;
      background: colors.$primary;
    }

    &-list {
      @include flex-col;

      position: relative;
      width: 100%;
      border-top: 1px solid colors.$border-primary;
      margin-top: 2em;
    }

    &-item {
      @include flex-center;
      @include size;
      @include transition('ease', 750);

      position: relative;
      background: colors.$primary;
      border-top: 1px solid colors.$border-primary;
      padding: 1em;

      &:first-child {
        border-top: 0;
      }

      &:last-child {
        border-right: 0;
      }

      &-image {
        @include transition('linear');
        @include visibility(true, 1);

        position: relative;
      }

      &-name {
        @include transition('linear');
        @include visibility;
        @include weights(800);

        position: absolute;
        color: colors.$primary;
      }

      &.visible {
        background: colors.$secondary;

        .navigation__mobile-item-image {
          @include visibility;
        }

        .navigation__mobile-item-name {
          @include visibility(true, 1, true);
        }
      }
    }

    &-icon,
    &-close {
      @include flex-center;
      @include size(auto, 100%);

      position: relative;
      padding: 0 0.75em;

      &-image {
        position: relative;
      }
    }

    &-icon-image {
      @include size(18px, 18px);
    }

    &-close {
      display: none;
      cursor: pointer;

      &-image {
        @include size(14px, 14px);
      }
    }

    &-input {
      background: transparent;
      width: 100%;
      padding: 0.25em;
      border: 0;
      outline: 0;

      &:focus {
        box-shadow: none;
      }
    }

    &-btn {
      @include transition('linear');
      @include weights(600);

      font-size: 14px;
      background: colors.$secondary;
      color: colors.$primary;
      border: 0;
      padding: 0 0.75em;

      &:hover {
        background: colors.$secondary-hover;
      }
    }
  }
}
