@use '@/scss/abstracts/mixins/structure/flex' as *;
@use '@/scss/abstracts/mixins/structure/size' as *;
@use '@/scss/abstracts/mixins/effects/shadow' as *;
@use '@/scss/abstracts/mixins/effects/transition' as *;
@use '@/scss/abstracts/mixins/fonts/weights' as *;
@use '@/scss/abstracts/theme/colors/solid/index' as colors;

.auth-page {
  @include flex-col-center-y;
  @include size(100%, 100vh);

  position: relative;
  justify-content: space-between;
  background-image: linear-gradient(to right top, colors.$secondary, colors.$blue-800, colors.$blue-700);
  overflow-y: auto;

  &__logo {
    position: relative;
    top: 1em;
    z-index: 1;

    &-image {
      @include size(auto, 52px);
    }
  }

  &__card {
    @include shadow(full, 3);

    height: auto;
    background: #fff;
    border-radius: 1.5rem;
    width: 650px;
    padding: 2em 1.75em 3em;
    margin: 2em 0;

    &-title {
      @include weights(700);

      font-size: 28px;
      text-align: center;
      margin-bottom: 1.5em;
    }

    &-info {
      font-size: 18px;
      color: colors.$neutral;
      text-align: center;
      margin: 1em 0;
    }

    &-form {
      @include flex-col;
      @include size;

      position: relative;
      gap: 1em;

      &-group {
        width: 100%;
      }

      &-label {
        @include weights(600);

        font-size: 18px;
        padding: 0 0.25em;
      }

      &-input {
        width: 100%;
        border-radius: 1.5em;
        margin-top: 0.5em;
      }

      &-password {
        position: relative;
      }

      &-icon {
        @include size(20px, auto);

        position: absolute;
        right: 1em;
        top: 1.25em;
        width: 20px;
        z-index: 1;
        cursor: pointer;
      }

      &-consent {
        @include flex-between-x;

        gap: 1.5em;

        p {
          font-size: 14px;
        }

        &-label {
          @include flex-center-y;

          gap: 0.25em;
        }

        &-checkbox {
          @include size(16px, 16px);

          margin-right: 0.25em;
        }

        &-link {
          @include weights(600);
        }
      }

      &-action {
        @include flex-center-x;

        margin-top: 2.25em;

        &-btn {
          @include transition('linear');
          @include weights(700);

          background: colors.$secondary;
          color: colors.$primary;
          font-size: 18px;
          border-radius: 1.5em;
          padding: 0.5em 1em;

          &:hover {
            background: colors.$secondary-hover;
          }
        }
      }

      &-switch {
        position: relative;
        font-size: 16px;
        margin-top: 0.5em;
        text-align: center;

        a {
          @include weights(600);
        }
      }
    }
  }

  &__footer {
    position: relative;
    bottom: 1em;
    width: 100%;
    z-index: 1;

    &-text {
      font-size: 16px;
      color: colors.$primary;
      text-align: center;

      a {
        @include weights(600);

        position: relative;
        padding-left: 3px;
        color: colors.$neutral;
      }
    }
  }

  &__logout {
    @include flex-center-x;
    @include transition('linear');
    @include weights(700);

    position: fixed;
    top: 5.5em;
    width: 100%;
    z-index: 1;

    &-btn {
      position: absolute;
      background: colors.$neutral;
      border-radius: 1.5em;
      color: colors.$primary;
      font-size: 20px;
      padding: 0.5em 1em;
      cursor: pointer;

      &:hover {
        background: colors.$neutral-hover;
      }
    }
  }
}
