@use '@/scss/abstracts/mixins/fonts/weights' as *;
@use '@/scss/abstracts/theme/colors/solid/index' as colors;

.error {
  @include weights(700);

  color: colors.$error;
  font-size: 16px;
  padding-left: 0.25em;
  margin-top: 0.25em;
}
