@use '@/scss/abstracts/mixins/structure/resolution' as *;
@use '@/scss/abstracts/mixins/structure/size' as *;

@include resolution(lg, min) {
  .admin-header {
    @include size(100%, 55px);

    &__link img {
      @include size(32px, 32px);
    }

    &__logout-btn {
      font-size: 16px;
      padding: 0.5em 1em;
    }
  }
}

@include resolution(lg, max) {
  .admin-header {
    @include size(100%, 45px);

    &__link img {
      @include size(28px, 28px);
    }

    &__logout-btn {
      font-size: 14px;
      padding: 6px 0.75em;
    }
  }
}
