@use '@/scss/abstracts/mixins/structure/flex' as *;
@use '@/scss/abstracts/mixins/structure/size' as *;
@use '@/scss/abstracts/mixins/accessibility/visibility' as *;
@use '@/scss/abstracts/mixins/colors/rgba' as *;
@use '@/scss/abstracts/mixins/effects/backdrop-filter' as *;
@use '@/scss/abstracts/mixins/effects/transition' as *;
@use '@/scss/abstracts/mixins/fonts/weights' as *;
@use '@/scss/abstracts/theme/colors/solid/index' as colors;
@use '@/scss/abstracts/theme/z-index/layers' as z;

.cart {
  position: fixed;
  background: colors.$primary;

  &__header {
    @include flex-center-y;

    position: relative;
    padding: 0.75em;

    &-count {
      @include weights(700);
    }

    &-close {
      img {
        position: relative;
        cursor: pointer;
      }
    }
  }

  &__content {
    @include flex-col;
    @include size(100%, calc(100% - 125px));

    position: relative;

    &-wrapper {
      @include size;

      position: relative;
      overflow-y: auto;
    }

    &-list {
      @include flex-col;
      @include size(100%, auto);

      position: relative;
      gap: 1.5em;
    }

    &-item {
      @include flex-col;

      position: relative;
      border-radius: 1.5em;
      border: 1px solid colors.$border-primary;
      overflow: hidden;
    }

    &-destroy {
      position: absolute;
      right: 1em;
      top: 1em;
      z-index: 1;

      img {
        @include size(16px, 16px);

        position: relative;
        cursor: pointer;
      }
    }

    &-image {
      @include flex-center;

      position: relative;
      width: 100%;
      padding: 2.5em 0 1em;

      img {
        @include size(auto, 125px);
      }
    }

    &-name {
      position: relative;
      margin-top: 0.5em;
      padding: 0 1em;

      p {
        @include weights(600);

        color: colors.$neutral;
        font-size: 20px;
        text-align: center;
      }
    }

    &-price {
      @include flex-col-center;

      position: relative;
      height: auto;
      gap: 0.25em;
      color: colors.$primary;
      background: colors.$secondary;
      margin-top: 1em;
      padding: 0.5em 0;

      &-current {
        @include weights(700);

        font-size: 22px;
      }

      &-old {
        @include weights;

        font-size: 14px;
        text-decoration: line-through;
      }
    }

    &-no-results {
      @include flex-center;
      @include size;

      position: relative;

      p {
        @include weights(700);

        position: relative;
        font-size: 28px;
        text-align: center;
      }
    }

    &-misc {
      padding: 0 1.25em;
    }
  }

  &__summary {
    @include flex-col-between-x;
    @include visibility;

    position: fixed;
    bottom: 0;
    width: 100%;

    &-price {
      @include flex-center;

      position: relative;

      p {
        @include weights(700);

        text-align: center;
      }
    }

    &-btn {
      @include transition('linear');
      @include weights(700);

      position: relative;
      background: colors.$secondary;
      color: colors.$primary;
      width: 100%;
      text-align: center;

      &:hover {
        background: colors.$secondary-hover;
      }
    }
  }

  &__warning {
    @include size(100%, 100vh);
    @include rgba('primary', 25);
    @include backdrop-filter(4);

    position: absolute;
    z-index: 1;
    display: none;

    &-header {
      position: absolute;
      top: 0;
      width: 100%;

      &-close {
        @include flex-center;
        @include transition('linear');

        position: relative;
        top: 0;
        background: colors.$neutral;
        width: 100%;
        cursor: pointer;

        &:hover {
          background: colors.$neutral-hover;
        }

        p {
          @include weights(700);

          text-align: center;
          color: colors.$primary;
          font-size: 22px;
          padding: 0.75em 1.5em;
        }
      }
    }

    &-actions {
      @include flex-col-center-y;
      @include transition('linear');

      position: absolute;
      transform: translateY(-50%);
      top: 50%;
      gap: 1em;
      padding: 0 1em;

      &-item {
        @include transition('linear');

        position: relative;
        width: 100%;
        border: 1px solid colors.$border-primary;

        a {
          @include weights(700);

          display: block;
          text-align: center;
          padding: 0.5em;
        }
      }

      &-login {
        background: colors.$secondary;

        a {
          color: colors.$primary;
        }

        &:hover {
          background: colors.$secondary-hover;
        }
      }

      &-signup {
        background: colors.$primary;

        a {
          color: colors.$neutral;
        }

        &:hover {
          background: colors.$surface;
        }
      }
    }
  }
}

#cart-order {
  @include size(400px, calc(100vh - 150px));

  right: 0;
  top: 150px;

  .cart {
    &__header {
      @include flex-center-x;

      &-count {
        font-size: 22px;
      }

      &-close {
        display: none;
      }
    }

    &__content {
      padding-bottom: 0.75em;

      &-destroy {
        display: none;
      }
    }

    &__summary {
      background: colors.$secondary;

      &-price {
        width: 400px;
        padding-top: 1em;

        p {
          font-size: 24px;
          color: colors.$primary;
        }
      }
    }
  }
}

#cart-backdrop {
  @include transition('ease-in-out', 300, opacity);
  @include backdrop-filter(4);

  @include rgba('neutral', 20);

  display: block;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: z.$cart-backdrop;
  opacity: 0;
  pointer-events: none;

  &.cart--active {
    opacity: 1;
    pointer-events: auto;
  }
}

#cart-sidebar {
  @include transition('ease-in-out', 300, transform);

  right: 0;
  top: 0;
  height: 100vh;
  z-index: z.$overlay;
  transform: translateX(100%);

  .cart {
    &--active {
      @at-root #cart-sidebar.cart--active {
        transform: translateX(0);
      }
    }

    &__header {
      @include flex-between-center;
    }

    &__content {
      padding-bottom: 3em;
    }

    &__summary {
      background: colors.$primary;
      border-top: 1px solid colors.$border-primary;
      z-index: 1;
    }
  }
}
