@use '@/scss/abstracts/mixins/structure/resolution' as *;
@use '@/scss/abstracts/mixins/structure/size' as *;

@include resolution(md, min) {
  .product-item {
    &__destroy {
      padding: 1em;

      p {
        font-size: 20px;
      }
    }

    &__box {
      gap: 0.5em;
      padding: 1em 1.5em;

      &-image {
        height: 225px;
      }

      &-name {
        height: 67.5px;

        p {
          font-size: 24px;
        }
      }

      &-rating {
        gap: 1em;
        margin: 1.5em 0 0.75em;

        img {
          @include size(26px, 26px);
        }
      }

      &-price {
        height: 55px;

        &-current {
          font-size: 24px;
        }

        &-old {
          font-size: 16px;
        }
      }

      &-btn {
        font-size: 20px;
      }
    }
  }
}

@include resolution(md, max) {
  .product-item {
    &__destroy {
      padding: 0.5em;

      p {
        font-size: 16px;
      }
    }

    &__box {
      padding: 0.5em 1em;

      &-title {
        font-size: 20px;
      }

      &-name {
        height: auto;
        max-height: 40px;

        p {
          font-size: 16px;
        }
      }

      &-rating {
        gap: 0.5em;
        margin: 1.25em 0 0.25em;

        img {
          @include size(18px, 18px);
        }
      }

      &-price {
        height: 40px;

        &-current {
          font-size: 16px;
        }

        &-old {
          font-size: 12.5px;
        }
      }

      &-btn {
        font-size: 14px;
      }
    }
  }
}

@include resolution(sm, min) {
  @include resolution(lg, max) {
    .product-item__box-image {
      height: 150px;
    }
  }
}

@include resolution(sm, max) {
  .product-item__box-image {
    height: 110px;
  }
}
