@use '@/scss/abstracts/mixins/structure/flex' as *;
@use '@/scss/abstracts/mixins/structure/resolution' as *;
@use '@/scss/abstracts/mixins/structure/size' as *;
@use '@/scss/abstracts/theme/colors/solid/index' as colors;

@include resolution(lg, max) {
  .reviews {
    &__card-item-basic-right {
      @include flex-col;

      align-items: flex-end;
    }

    &__product {
      width: 100%;
    }
  }
}

@include resolution(md, min) {
  @include resolution(lg, max) {
    .reviews__product-name {
      font-size: 24px;
      padding: 2em 1em;
    }
  }
}

@include resolution(md, min) {
  .reviews {
    &__back {
      padding-top: 2.5em;

      &-btn {
        font-size: 20px;
      }
    }

    &__card {
      &-top {
        @include flex-between-center;

        padding: 2.5em 2.5em 1em;
      }

      &-title {
        font-size: 28px;
      }

      &-create-btn {
        img {
          @include size(20px, auto);
        }

        span {
          font-size: 16px;
        }
      }

      &-total {
        padding: 0 2.5em 2.5em;

        &-row {
          @include flex-center-y;
        }
      }

      &-status {
        gap: 0.5em;
        width: 300px;
        padding: 1.5em;
        border-right: 1px solid colors.$border-primary;

        &-value {
          font-size: 24px;
        }

        &-score {
          font-size: 32px;
        }

        &-text {
          font-size: 16px;
        }
      }

      &-stars {
        padding: 1.5em;

        &-row {
          @include flex;

          gap: 0.25em;
        }

        &-left {
          gap: 1.25em;

          span {
            font-size: 20px;
          }

          &-icons img {
            @include size(21px, auto);
          }
        }

        &-right {
          left: 1em;

          &-count {
            font-size: 20px;
          }
        }

        &-slider {
          height: 7.5px;
        }
      }

      &-info {
        img {
          width: 20px;
        }

        p {
          font-size: 16px;
        }
      }

      &-action-link {
        font-size: 20px;
      }

      &-list {
        gap: 1em;
        padding: 1em 0;
      }

      &-item {
        padding: 1.5em;
        gap: 0.75em;

        &-basic {
          gap: 1em;

          &-left {
            gap: 0.75em;
          }

          &-right {
            &-menu {
              @include size(30px, 30px);

              &-icon {
                padding: 6px;
              }
            }

            &-dropdown {
              top: 37.5px;
              min-width: 125px;

              &-link {
                font-size: 18px;
              }
            }
          }
        }

        &-row {
          gap: 1em;

          &-right {
            gap: 1em;
            width: 75px;
            padding: 1em;

            &-rating {
              gap: 0.75em;

              &-icon {
                @include size(16px, 16px);
              }

              &-text {
                font-size: 22px;
              }
            }
          }
        }

        &-stars img {
          @include size(18px, auto);
        }

        &-date {
          font-size: 16px;
        }

        &-user {
          font-size: 18px;
          margin-top: 0.5em;
        }

        &-text {
          font-size: 16px;
        }

        &-ratings {
          gap: 1.25em;
          margin-top: 1em;

          &-card {
            gap: 0.5em;

            &-value {
              gap: 1em;

              span {
                font-size: 16px;
              }
            }
          }

          &-pros,
          &-cons {
            &-value img {
              @include size(16px, auto);
            }
          }
        }
      }

      &-action-link {
        font-size: 20px;
        padding: 0.5em 1em;
      }
    }
  }
}

@include resolution(md, max) {
  .reviews {
    &__back {
      padding-top: 1.75em;

      &-btn {
        font-size: 18px;
      }
    }

    &__product-name {
      font-size: 20px;
      padding: 1.5em 1em;
    }

    &__card {
      &-top {
        @include flex-col-center-y;

        padding: 1.5em 0 0;
      }

      &-title {
        font-size: 22px;
        text-align: center;
        width: 100%;
      }

      &-create-btn {
        img {
          @include size(16px, auto);
        }

        span {
          font-size: 12.5px;
        }
      }

      &-total {
        padding: 0 1em 1.5em;

        &-row {
          @include flex-col-center-y;
        }
      }

      &-status {
        gap: 0.25em;
        width: 100%;
        padding: 1em;
        border-bottom: 1px solid colors.$border-primary;

        &-value {
          font-size: 20px;
        }

        &-score {
          font-size: 24px;
        }

        &-text {
          font-size: 14px;
        }
      }

      &-stars {
        padding: 1.5em 0;

        &-row {
          @include flex-col;

          gap: 0.25em;
        }

        &-left {
          gap: 0.75em;

          span {
            font-size: 16px;
          }

          &-icons {
            position: relative;
            top: 2px;

            img {
              @include size(17px, auto);
            }
          }
        }

        &-right {
          &-count {
            font-size: 16px;
          }
        }

        &-slider {
          height: 5px;
        }
      }

      &-info {
        img {
          width: 16px;
        }

        p {
          font-size: 14px;
        }
      }

      &-action-link {
        font-size: 16px;
      }

      &-list {
        gap: 0.75em;
        padding: 0.75em 0;
      }

      &-item {
        padding: 1em;
        gap: 0.75em;

        &-basic {
          gap: 0.75em;

          &-left {
            gap: 0.5em;
          }

          &-right {
            &-menu {
              @include size(24px, 24px);

              &-icon {
                padding: 5px;
              }
            }

            &-dropdown {
              top: 35px;
              min-width: 110px;

              &-link {
                font-size: 14px;
              }
            }
          }
        }

        &-row {
          gap: 0.75em;

          &-right {
            gap: 0.75em;
            width: 60px;
            padding: 0.75em;

            &-rating {
              gap: 0.75em;

              &-icon {
                @include size(12px, 12px);
              }

              &-text {
                font-size: 16px;
              }
            }
          }
        }

        &-stars img {
          @include size(18px, auto);
        }

        &-date {
          font-size: 12.5px;
        }

        &-user {
          font-size: 14px;
          margin-top: 0.25em;
        }

        &-text {
          font-size: 12.5px;
        }

        &-ratings {
          gap: 0.75em;
          margin-top: 0.75em;

          &-card {
            gap: 0.25em;

            &-value {
              gap: 0.75em;

              span {
                font-size: 14px;
              }
            }
          }

          &-pros,
          &-cons {
            &-value img {
              @include size(14px, auto);
            }
          }
        }
      }

      &-action-link {
        font-size: 15px;
        padding: 0.5em 1em;
      }
    }
  }
}
