@use '@/scss/abstracts/mixins/structure/resolution' as *;

@include resolution(md, min) {
  .wishlist {
    &__card {
      &-title {
        font-size: 28px;
      }
    }

    &__wrapper {
      margin-top: 3.25em;
    }
  }
}

@include resolution(md, max) {
  .wishlist {
    &__card {
      &-title {
        font-size: 22px;
      }
    }

    &__wrapper {
      margin-top: 2.25em;
    }
  }
}
