$footer: 100;
$scroll-to-top: 200;
$navigation: 300;
$navigation-overlay: 400;
$header: 500;
$ai-assistant: 600;
$cart-backdrop: 700;
$overlay: 800;
$modal: 900;
$cursor: 1000;
$loading: 900000;
$notyf: 999999;
