@use '@/scss/abstracts/mixins/structure/flex' as *;
@use '@/scss/abstracts/mixins/structure/size' as *;
@use '@/scss/abstracts/mixins/colors/rgba' as *;
@use '@/scss/abstracts/mixins/effects/transition' as *;
@use '@/scss/abstracts/mixins/accessibility/visibility' as *;
@use '@/scss/abstracts/mixins/fonts/weights' as *;
@use '@/scss/abstracts/theme/colors/solid/index' as colors;

.reviews {
  @include flex-col-center-y;

  width: 100%;

  &__back {
    @include flex-center-x;

    &-btn {
      @include transition('linear');
      @include weights(500);

      padding: 0.25em 1em;
      color: colors.$primary;
      border-radius: 0.75em;
      background: colors.$neutral;

      &:hover {
        background: colors.$neutral-hover;
      }
    }
  }

  &__product {
    width: 850px;

    &-name {
      @include weights(700);

      font-size: 32px;
      text-align: center;
      border-bottom: 1px solid colors.$border-primary;
      padding: 2.5em 1.5em;
    }
  }

  &__card {
    @include flex-col;

    max-width: 850px;
    width: 100%;

    &-top {
      gap: 1em;
      width: 100%;
    }

    &-title {
      @include weights(700);
    }

    &-create-btn {
      @include flex-center-y;
      @include transition('linear');

      gap: 0.5em;
      color: colors.$primary;
      background: colors.$secondary;
      border-radius: 1.5em;
      padding: 0.75em 1em;

      &:hover {
        background: colors.$secondary-hover;
      }

      img {
        filter: invert(100%);
      }

      span {
        @include weights(700);
      }
    }

    &-total {
      width: 100%;
      margin: 0 auto;
    }

    &-status {
      @include flex-col-center-y;

      &-value {
        @include weights(500);
      }

      &-score {
        @include weights(700);
      }

      &-text {
        @include weights(300);

        color: colors.$dark-400;
      }
    }

    &-stars {
      @include flex-col;

      position: relative;
      width: 100%;
      gap: 0.25em;

      &-row {
        width: 100%;
      }

      &-left {
        @include flex-center-y;

        span {
          width: 7.5px;
        }
      }

      &-right {
        @include flex-center-y;

        position: relative;
        gap: 1em;
        flex: 1;

        &-count {
          font-size: 20px;
          width: 7.5px;
        }
      }

      &-slider {
        @include rgba('neutral', 15);

        position: relative;
        flex: 1;
        height: 7.5px;
        border-radius: 1em;

        &--fill {
          height: 100%;
          background: colors.$blue-800;
          width: 0%;
          border-radius: 1em;
        }
      }
    }

    &-info {
      @include flex-center-y;

      gap: 0.5em;

      img {
        width: 20px;
      }

      p {
        @include weights(300);

        font-size: 16px;
      }
    }

    &-list {
      width: 100%;
      margin: 0 auto;
      border-top: 1px solid colors.$border-primary;
    }

    &-item {
      @include flex-col;

      &:not(:last-child) {
        border-bottom: 1px solid colors.$border-primary;
      }

      &-basic {
        @include flex-between-x;

        &-left {
          @include flex-center-y;
        }

        &-right {
          @include flex-col-center-y;

          position: relative;

          &-menu {
            @include flex-center;
            @include transition('linear');

            background: transparent;
            border-radius: 50%;

            &:hover {
              background: colors.$light-400;
            }

            &-icon {
              @include size;

              position: relative;
              cursor: pointer;
            }
          }

          &-dropdown {
            @include transition('linear', 250, (opacity, visibility));
            @include visibility;

            position: absolute;
            background: colors.$neutral;
            z-index: 1;

            &-link {
              @include flex-center;
              @include weights(500);

              color: colors.$primary;
              padding: 0.5em;
              cursor: pointer;
            }
          }
        }
      }

      &-row {
        @include flex-between-x;

        &-right {
          @include flex-col;

          border-left: 1px solid colors.$border-primary;

          &-rating {
            @include flex-center-y;

            &-icon {
              @include transition('ease-in-out');

              scale: 1.2;
              cursor: pointer;
            }
          }
        }
      }

      &-stars {
        @include flex;

        gap: 0.25em;
      }

      &-date {
        @include weights(300);
      }

      &-user {
        @include weights(500);
      }

      &-text {
        @include weights;

        padding: 0.25em 0;
        overflow-wrap: break-word;
        word-break: break-all;
        white-space: normal;
      }

      &-ratings {
        @include flex-col;

        &-card {
          @include flex-col;

          &-value {
            @include flex-center-y;

            span {
              @include weights;
            }
          }
        }

        &-pros-value img {
          filter: brightness(0) saturate(100%) invert(67%) sepia(60%) saturate(3802%) hue-rotate(80deg) brightness(101%)
            contrast(100%);
        }

        &-cons-value img {
          filter: brightness(0) saturate(100%) invert(12%) sepia(89%) saturate(6319%) hue-rotate(357deg)
            brightness(100%) contrast(112%);
        }
      }
    }

    &-action {
      @include flex-center;

      padding: 0.5em 0 3em;

      &-link {
        @include transition('linear');
        @include weights(800);

        color: colors.$primary;
        background: colors.$secondary;
        border-radius: 1.5em;
        text-transform: capitalize;

        &:hover {
          background: colors.$secondary-hover;
        }
      }
    }
  }
}

#reviews-like {
  .reviews__card-item-row-right-rating-icon {
    background: url('/public/img/icons/actions/rating/like/like-outline.png') no-repeat center;
    background-size: contain;
  }

  &.reviews__card-item-row-right-rating--active .reviews__card-item-row-right-rating-icon {
    background-image: url('/public/img/icons/actions/rating/like/like.png');
    scale: 1.3;
    filter: brightness(0) saturate(100%) invert(23%) sepia(100%) saturate(2065%) hue-rotate(217deg) brightness(88%)
      contrast(126%);

    &:hover {
      scale: 1.2;
    }
  }

  .reviews__card-item-row-right-rating-icon:hover {
    background-image: url('/public/img/icons/actions/rating/like/like.png');
  }
}

#reviews-dislike {
  .reviews__card-item-row-right-rating-icon {
    background: url('/public/img/icons/actions/rating/dislike/dislike-outline.png') no-repeat center;
    background-size: contain;
  }

  &.reviews__card-item-row-right-rating--active .reviews__card-item-row-right-rating-icon {
    background-image: url('/public/img/icons/actions/rating/dislike/dislike.png');
    scale: 1.3;
    filter: brightness(0) saturate(100%) invert(23%) sepia(100%) saturate(2065%) hue-rotate(217deg) brightness(88%)
      contrast(126%);

    &:hover {
      scale: 1.2;
    }
  }

  .reviews__card-item-row-right-rating-icon:hover {
    background-image: url('/public/img/icons/actions/rating/dislike/dislike.png');
  }
}
